<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
       <listeners>
              <listener class-name="org.uncommons.reportng.HTMLReporter"/>
       </listeners>   
          
       <test name="Firefox">
                    <parameter name="browser" value="Firefox"/>
                      <classes>
                           <class name="Implementation.HeldConfirmAndTicketedTest"/>
                           <class name="Implementation.CruiseBookingTest"/>
                     </classes>
       </test> <!-- Test -->
              
</suite> <!-- Suite -->
  
